/* sub-page */
.sub-frame {
  border: 1px solid red;
  width: 1080px;
  height: 1920px;
  background: linear-gradient(
      45deg,
      rgba(17, 13, 40, 0.8),
      rgba(17, 13, 40, 0.5),
      rgba(17, 13, 40, 0.8)
    ),
    linear-gradient(
      -45deg,
      rgba(17, 13, 40, 0.8),
      rgba(17, 13, 40, 0.5),
      rgba(17, 13, 40, 0.8)
    ),
    rgba(0, 0, 0, 0.2);
}

.sub-header-container {
  border: 5px solid red;
  width: 1080px;
  height: 150px;
  display: flex;
  justify-content: space-evenly;
}

.sub-header-container span {
  width: 200px;
  height: 150px;
  font-size: 32px;
  border: 1px solid blue;
  text-align: center;
  line-height: 150px;
}

.sub-btn-section {
  border: 1px solid blue;
  width: 1080px;
  height: calc(1920px - 150px);
}

.sub-top-container {
  display: flex;
  justify-content: center;
  margin-top: 42px;
  border: 1px solid green;
  width: 1080px;
  height: 441px;
}

.sub-compare-btn {
  height: 441px;
  width: 952px;
  border: 1px solid magenta;
}

.sub-upto-txt {
  border: 1px solid red;
  margin-top: 32px;
  font-size: 36px;
  text-align: center;
}

.sub-spec-container {
  border: 1px solid blue;
  height: 191px;
  margin-top: 38px;
  display: flex;
  justify-content: space-around;
}

.sub-spec-col {
  border: 1px solid red;
  width: 300px;
  position: relative;
}

.sub-spec-grad-txt {
  border: 1px solid blue;
  height: 80%;
  font-size: 110px;
  text-align: center;
}

.sub-spec-desc-txt {
  border: 1px solid green;
  height: 19%;
  font-size: 23px;
  text-align: center;
}

.sub-than-m2-txt {
  border: 1px solid red;
  text-align: center;
  margin-top: 48px;
  font-size: 36px;
}

.sub-middle-container {
  margin-top: 31px;
  border: 1px solid orange;
  width: 1080px;
  height: 898px;
  display: flex;
  justify-content: center;
}

.sub-tracing-btn {
  border: 1px solid sienna;
  width: 585px;
  height: 898px;
  font-size: 56px;
}

.sub-tracing-txt {
  border: 1px solid red;
  height: 240px;
  margin: 40px;
}

.sub-middle-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 31px;
  border: 1px solid rgb(68, 0, 255);
  width: 335px;
  height: 898px;
}

.sub-m4-btn {
  border: 1px solid rgb(68, 0, 255);
  width: 300px;
  height: 300px;
  font-size: 80px;
  text-align: center;
  line-height: 300px;
}

.sub-m4-btn span {
  border: 1px solid red;
}

.sub-oled-btn {
  margin-top: 32px;
  border: 1px solid rgb(68, 0, 255);
  width: 335px;
  height: 566px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-oled-txt {
  font-size: 40px;
  text-align: center;
  border: 1px solid red;
}

.sub-bottom-container {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  border: 1px solid magenta;
  width: 1080px;
  height: 262px;
}

.sub-3nm-btn {
  border: 1px solid rgb(68, 0, 255);
  height: 262px;
  width: 952px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.sub-3nm-sub-txt {
  font-size: 36px;
}

.sub-3nm-main-txt {
  font-size: 76px;
}
