/* Global */
@font-face {
    font-family: "AppleSDGothicNeoEB";
    src: url("./fonts/AppleSDGothicNeoEB.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "AppleSDGothicNeoH";
    src: url("./fonts/AppleSDGothicNeoH.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "AppleSDGothicNeoL";
    src: url("./fonts/AppleSDGothicNeoL.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "AppleSDGothicNeoR";
    src: url("./fonts/AppleSDGothicNeoR.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "AppleSDGothicNeoB";
    src: url("./fonts/AppleSDGothicNeoB.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}



* {
    margin: 0;
    padding: 0;
}

body {
    width: 1080px;
    height: 1920px;
}

.landing-vid {
    position: absolute;
    width: 1080px;
    height: 1920px;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  
  .landing-main {
    position: relative;
    top: 80%;
    text-align: center;
  }
  
  .landing-main p {
    margin-top: 1400px;
    font-family: "AppleSDGothicNeoL", sans-serif;
    font-size: 40pt;
    color: #ffffff;
  }
  

/* main */
.main {
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1080px;
    height: 1920px;
}

.div {
    background-color: rgba(255, 255, 255, 1);
    background: var(--Mainbackground, linear-gradient(0deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%), linear-gradient(24deg, #000 20.4%, rgba(17, 13, 40, 0.50) 60.2%, #333 100%), linear-gradient(335deg, #000 23.77%, rgba(17, 13, 40, 0.50) 61.89%, #333 100%), #FFF);
    width: 1080px;
    height: 1920px;
    position: relative;
}

.sub-btn-box {
    position: absolute;
    width: 1016px;
    height: 654px;
    top: 1199px;
    left: 32px;
    transition: transform 0.5s ease;
}

.event-box {
    position: absolute;
    width: 686px;
    height: 300px;
    top: 354px;
    left: 332px;
}

.overlap {
    position: relative;
    width: 684px;
    height: 300px;
}


.sub-event-img {
    position: relative;
    width: 684px;
    height: 300px;
    background-image: url(./images/sub_event_img.svg);
    background-size: 100% 100%;
}

.img .overlap-group {
    position: relative;
    height: 300px;
}

.rectangle {
    position: absolute;
    width: 684px;
    height: 300px;
    top: 0;
    left: 0;
}

.event-text {
    position: absolute;
    top: 232px;
    left: 36px;
    font-family: "AppleSDGothicNeoL";
    font-weight: 400;
    color: #ffffff;
    font-size: 40px;
    text-align: right;
    letter-spacing: 0;
    line-height: normal;
}

.pencil-box {
    position: absolute;
    width: 302px;
    height: 653px;
    top: 0;
    left: 0;
    box-shadow: 10px 10px 16px #00000040;
}

.flexcontainer-wrapper {
    width: 300px;
    height: 656px;
    background-image: url(images/sub_img_pencil.png);
    background-size: 100% 100%;
}

.flexcontainer {
    position: relative;
    width: 98px;
    height: 113px;
    top: 16px;
    left: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 11px;
}

.text {
    position: relative;
    font-family: "AppleSDGothicNeoL";
    font-weight: 400;
    color: #ffffffb2;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
}

.text-wrapper {

    color: #ffffff;
    font-size: 40px;
    letter-spacing: 0;
}

.box {
    position: absolute;
    width: 362px;
    height: 362px;
    top: 0;
    left: 684px;
}

.m4-box {
    width: 329.998px;
    height: 330px;
    background-image: url(images/sub_m4_img.svg);
    background-repeat: no-repeat;

}

.stage-box {
    position: absolute;
    width: 330px;
    height: 330px;
    top: 0px;
    left: 324px;
}

.stage-text {
    position: absolute;
    color: #ffffffb2;
    text-align: center;
    font-family: "AppleSDGothicNeoL";
    font-size: 40px;
    bottom: 0;
    right: 0;
}

.indicator {
    position: absolute;
    width: 100%;
    top: 1103px;
    text-align: center;
}


.dot {
    display: inline-block;
    background-color: #F2EEFF;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    opacity: 0.5;
    margin: 0 24px;
}

.active {
    opacity: 1;
}

.window {
    margin-top: 150px;
    position: absolute;
    width: 1016px;
    width: 100%;
    height: 937px;
    border-radius: 52px;
    transition: transform 0.2s ease;
    flex-shrink: 0;
}

.carousel {
    border: 1px solid blue;
    display: flex;
    overflow: hidden;
    width: 100%;
}


.main-pencil-box {
    position: absolute;
    width: 667px;
    height: 320px;
    top: 48px;
    left: 68px;
}


.P-flexcontainer {
    position: absolute;
    width: 568px;
    height: 202px;
    top: 118px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}



.span {
    font-family: "AppleSDGothicNeoB";

    color: #ffffff;
    font-size: 40px;
    letter-spacing: 0;
    line-height: 60px;
}

.pencil-big-title {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "AppleSDGothicNeoEB";
    font-weight: 400;
    color: #ffffff;
    font-size: 86px;
    letter-spacing: 0;
    line-height: 80px;
    white-space: nowrap;
}

.carousel_pencil {
    position: absolute;
    width: 604px;
    height: 481px;
    top: 424px;
    left: 206px;
    object-fit: cover;
}

.main-nav {
    position: absolute;
    width: 1080px;
    height: 160px;
    top: 0;
    left: 0;
}


.group {
    position: relative;
    width: 984px;
    top: 48px;
    left: 48px;
}

.icon-ionicons {
    position: absolute;
    width: 62px;
    height: 70px;
    top: -8px;
}

.solar-figma-bold {
    position: absolute;
    width: 62px;
    height: 62px;
    left: 922px;
}

.text-wrapper-2 {
    position: absolute;
    left: 90px;
    font-family: "AppleSDGothicNeoEB";
    color: #ffffff;
    font-size: 52px;
}

.mask-group {
    position: absolute;
    width: 486px;
    height: 296px;
    top: 4px;
    left: 198px;
}

.rectangle {
    position: absolute;
    width: 684px;
    height: 300px;
    top: 0;
    left: 0;
}

.overlap-2 {
    position: absolute;
    width: 1046px;
    height: 687px;
    top: 0;
    left: 0;
}

/* 2 */


.carousel_speaker {
    position: absolute;
    width: 604px;
    height: 499px;
    top: 398px;
    left: 206px;
    object-fit: cover;
}

.speaker-box {
    position: absolute;
    width: 802px;
    height: 338px;
    top: 40px;
    left: 109px;
}

.S-flexcontainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    position: absolute;
    width: 798px;
    height: 202px;
    top: 136px;
    left: 0;
}

.S-flexcontainer .text {
    position: relative;
    align-self: stretch;
    font-family: "AppleSDGothicNeoB";
    font-weight: 400;
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    line-height: 60px;
}

.S-flexcontainer .text-wrapper {
    font-family: "AppleSDGothicNeoB";
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 0;
    line-height: 60px;
}

.speaker-big-title {
    position: absolute;
    top: 0;
    left: 83px;
    font-family: "AppleSDGothicNeoEB";
    color: #ffffff;
    font-size: 86px;
}


/* 3*/


.m-flexcontainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    position: absolute;
    width: 585px;
    height: 202px;
    top: 175px;
    left: 316px;
}

.m-flexcontainer .text {
    position: relative;
    align-self: stretch;
    font-family: "AppleSDGothicNeoB";
    color: #ffffff;
    font-size: 40px;
    text-align: right;
    letter-spacing: 0;
    line-height: 60px;
}

.m-flexcontainer .text-wrapper {
    font-family: "AppleSDGothicNeoB00";
    line-height: 60px;

}

.m4-big-title {
    position: absolute;
    top: 39px;
    left: 391px;
    font-family: "AppleSDGothicNeoEB00";
    color: #ffffff;
    font-size: 86px;
}

.carousel_m4 {
    position: absolute;
    width: 767px;
    height: 418px;
    top: 479px;
    left: 115px;
    object-fit: cover;

}


/* 4 */

.workflow-box {
    position: absolute;
    width: 600px;
    height: 339px;
    top: 40px;
    left: 99px;
}

.Sm-flexcontainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    position: absolute;
    width: 596px;
    height: 202px;
    top: 137px;
    left: 0;
}

.Sm-flexcontainer .text {
    position: relative;
    font-family: "AppleSDGothicNeoB";
    font-size: 40px;
    line-height: 60px;
    color: #ffffff;

}

.Sm-flexcontainer .text-wrapper {
    font-family: "AppleSDGothicNeoB";
    line-height: 60px;

}

.Sm-big-title {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "AppleSDGothicNeoEB";
    font-size: 86px;
    color: #ffffff;
}

.carousel_stage {
    position: absolute;
    width: 586px;
    height: 460px;
    top: 437px;
    left: 331px;
    object-fit: cover;
}