/* from global */
@font-face {
  font-family: "AppleSDGothicNeoEB";
  src: url("./fonts/AppleSDGothicNeoEB.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* sub-page */
.sub-frame {
  color: white;
  font-family: "AppleSDGothicNeoEB";
  /* border: 1px solid red; */
  width: 1080px;
  height: 1920px;
  background: linear-gradient(45deg,
      rgba(17, 13, 40, 0.8),
      rgba(17, 13, 40, 0.5),
      rgba(17, 13, 40, 0.8)),
    linear-gradient(-45deg,
      rgba(17, 13, 40, 0.8),
      rgba(17, 13, 40, 0.5),
      rgba(17, 13, 40, 0.8)),
    rgba(0, 0, 0, 0.2);
}

.sub-header-container {
  /* border: 5px solid red; */
  width: 1080px;
  height: 150px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.sub-header-container hr {
  height: 70px;
}

.sub-header-container span {
  width: 200px;
  height: 150px;
  font-size: 32px;
  /* border: 1px solid blue; */
  text-align: center;
  line-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-header-logo {
  /* border: 1px solid red; */
  display: block;
}

.sub-btn-section {
  /* border: 1px solid blue; */
  width: 1080px;
  height: calc(1920px - 150px);
}

.btn-item {
  border-radius: 52px;
  background-color: black;
}

.sub-top-container {
  display: flex;
  justify-content: center;
  margin-top: 42px;
  /* border: 1px solid green; */
  width: 1080px;
  height: 441px;
}

.sub-compare-btn {
  height: 441px;
  width: 952px;
  /* border: 1px solid magenta; */
  background-color: black;
}

.sub-upto-txt {
  /* border: 1px solid red; */
  margin-top: 32px;
  font-size: 36px;
  text-align: center;
}

.sub-spec-container {
  /* border: 1px solid blue; */
  height: 191px;
  margin-top: 38px;
  display: flex;
  justify-content: space-around;
}

.sub-spec-col {
  /* border: 1px solid red; */
  width: 300px;
  position: relative;
}

.sub-spec-grad-txt {
  /* border: 1px solid blue; */
  height: 80%;
  font-size: 110px;
  text-align: center;
  background: linear-gradient(225deg, #223ecb 20%, #4aaed5 60%, #b7bd79 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sub-spec-desc-txt {
  /* border: 1px solid green; */
  height: 19%;
  font-size: 23px;
  text-align: center;
}

.sub-than-m2-txt {
  /* border: 1px solid red; */
  text-align: center;
  margin-top: 48px;
  font-size: 36px;
}

.sub-middle-container {
  margin-top: 31px;
  /* border: 1px solid orange; */
  width: 1080px;
  height: 898px;
  display: flex;
  justify-content: center;
}

.sub-tracing-btn {
  /* border: 1px solid sienna; */
  width: 585px;
  height: 898px;
  font-size: 56px;
  /* Background layers */
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url("images/sub_tracing_img.png"), black;
  /* 기본 검은색 배경 */

  background-size: cover;
  /* 배경 이미지가 요소를 덮도록 설정 */
  background-blend-mode: normal;
  /* 배경 블렌드 모드를 설정 */
}

.sub-tracing-txt {
  /* border: 1px solid red; */
  height: 240px;
  margin: 40px;
}

.sub-middle-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 31px;
  /* border: 1px solid rgb(68, 0, 255); */
  width: 335px;
  height: 898px;
}

.sub-m4-btn {
  border: 1px solid white;
  width: 300px;
  height: 300px;
  font-size: 80px;
  text-align: center;
  line-height: 300px;
  background: radial-gradient(circle farthest-corner at right top,
      #040b6a 4%,
      #020312 17%,
      #14040c 52%,
      #24061d 62%,
      #223ecb 75%,
      #4aaed5 85%,
      #b7bd79 96%);
  box-shadow: 0px -36px 30px rgba(35, 30, 106, 0.5),
    0px 36px 30px rgba(183, 187, 138, 0.5),
    inset 0px 0px 11.3px 12px rgba(255, 255, 255, 0.25);
}

.sub-m4-btn span {
  /* border: 1px solid red; */
}

.sub-oled-btn {
  position: relative;
  margin-top: 32px;
  /* border: 1px solid red; */
  width: 335px;
  height: 566px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-vid {
  position: absolute;
  object-fit: cover;
  border-radius: 52px;
  width: 100%;
  height: 100%;
}

.sub-oled-txt {
  font-size: 40px;
  text-align: center;
  /* border: 1px solid red; */
}

.sub-bottom-container {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  /* border: 1px solid magenta; */
  width: 1080px;
  height: 262px;
}

.sub-3nm-btn {
  /* border: 1px solid rgb(68, 0, 255); */
  position: relative;
  height: 262px;
  width: 952px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;

  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url("images/sub_3nm_img.png"), black;
  /* 기본 검은색 배경 */

  background-size: cover;
  /* 배경 이미지가 요소를 덮도록 설정 */
  background-blend-mode: normal;
  /* 배경 블렌드 모드를 설정 */
  transition: background-color 2s ease, background-image 2s ease,
    background-blend-mode 2s ease;
  /* 배경 전환을 위한 전환 효과 설정 */
}

.sub-3nm-btn.darkened {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/sub_3nm_img.png"), black;
  /* 반투명 검은색 레이어 추가 */
  background-size: cover;
  /* 배경 이미지가 요소를 덮도록 설정 */
  background-blend-mode: normal;
  /* 배경 블렌드 모드를 설정 */
}

.sub-3nm-sub-txt,
.sub-3nm-main-txt {
  opacity: 1;
  transition: opacity 2s ease;
  /* 페이드 인/아웃을 위한 전환 효과 설정 */
}

.sub-3nm-sub-txt.hidden,
.sub-3nm-main-txt.hidden {
  opacity: 0;
}

.sub-3nm-sub-txt {
  font-size: 36px;
}

.sub-3nm-main-txt {
  font-size: 76px;
}

.sub-3nm-overlay-txt {
  position: absolute;
  color: white;
  /* 텍스트 색상 설정 */
  font-size: 36px;
  /* 텍스트 크기 설정 */
  opacity: 0;
  /* 초기 상태에서 숨기기 */
  transition: opacity 2s ease;
  /* 애니메이션을 위한 전환 효과 설정 */
}

.sub-3nm-overlay-txt.show {
  opacity: 1;
  /* 보이도록 설정 */
}